#backgroundImg {
    position: fixed;
}

.hyperLink:hover {
    cursor: pointer;
}

.hyperLink {
    position: absolute;
    /* top: 47vh; */
    bottom: 38vh;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(-50deg);
    font-size: 18px;
}

.stopCircle {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    background-color: white;
    position: absolute;
    top: 8px;
}

#welcome {
    position: absolute;
    top: 250px;
    left: 1680px;
    font-size: 24px;
}

#lineMapContainer {
    position: absolute;
    top: 65vh;
    left: 5vw;
}

#lineMap {
    width: 90vw;
    height: 40px;
    background-color: indianred;
    /* position: absolute;
    top: 65vh;
    left: 5vw; */
}

#mini1 {
    left: 10vw;
}

#stop1 {
    left: 8vw;
}

#mini2 {
    left: 18.3vw;
}

#stop2 {
    left: 16.3vw;
}

#mini3 {
    left: 26.6vw;
}

#stop3 {
    left: 23.6vw;
}

#projectA {
    left: 34.9vw;
    font-size: 24px;
}

#stop4 {
    left: 31.9vw;
    height: 50px;
    border: indianred solid 5px;
}

#mini4 {
    left: 43.2vw;
}

#stop5 {
    left: 40.2vw;
}

#mini5 {
    left: 51.5vw;
}

#stop6 {
    left: 48.5vw;
}

#projectB {
    left: 59.8vw;
    font-size: 24px;
}

#stop7 {
    left: 56.8vw;
    height: 50px;
    border: indianred solid 5px;
}

#mini6 {
    left: 68.1vw;
}

#stop8 {
    left: 66.1vw;
}

#mini7 {
    left: 76.4vw;
}

#stop9 {
    left: 73.4vw;
}

#projectC {
    left: 84.7vw;
    font-size: 24px;
}

#stop10 {
    left: 82.7vw;
    height: 50px;
    border: indianred solid 5px;
}

.caption {
    z-index: 3;
    height: 50px;
    position: relative;
    /* }
   .example1 h3 { */
    top: 200px;
    font-size: 3em;
    color: red;
    position: absolute;
    width: 80%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Apply animation to this element */
    -moz-animation: example1 15s linear infinite;
    -webkit-animation: example1 15s linear infinite;
    animation: example1 15s linear infinite;
}


/* Move it (define the animation) */

@-moz-keyframes example1 {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes example1 {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes example1 {
    0% {
        -moz-transform: translateX(100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(100%);
        /* Firefox bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(-100%);
        /* Firefox bug fix */
        transform: translateX(-100%);
    }
}


/* #captionBackground{
       position: absolute;
       top: 230px;
       background-color: black;
       height:100px;
       width: 1010px;
       margin: auto;
       z-index: 1;      
   }

   #captionBoard{
    position: absolute;
    top: 220px;
    border: 10px solid white;
    height:100px;
    width: 100vw;
    z-index: 10;
} */

#scrollingCaption {
    font-size: 24px;
    color: #FF0000;
    height: 50px;
    width: 70vw;
    border: 5px ridge #999;
    background-color: #222;
    position: absolute;
    top: 220px;
    z-index: 100;
    /* margin-left: 200px; */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}