body {
    margin: 0;
    overflow: hidden;
}

#container {
    height: 100vh;
    position: relative;
}

#backgroundImg {
    height: 100vh;
    position: absolute;
}


/* #w1Container {
    position: relative;
}

#w2Container {
    position: relative;
} */


/* #w1Container {
    position: absolute;
    width: 80px;
}

#w2Container {
    position: absolute;
    width: 80px;
} */

.wreckageImg {
    position: absolute;
    width: 80px;
}

#astronautContainer {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 60vh;
    left: 900px;
}

#astronautImg {
    height: 150px;
}

.star {
    opacity: 0;
}