body {
    margin: 0;
}

#treeContainer {
    margin: auto;
    width: 200px;
    height: 100vh;
    position: relative;
}

.branches {
    -webkit-appearance: none;
    background-color: #7f5934;
    height: 7px;
    /* width: 200px; */
    outline: none;
    border-radius: 50px;
}

.branches::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: #76471a;
    border-radius: 20px;
    cursor: pointer;
}


/* .branches::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
} */


/* input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
} */

#branch1 {
    /* -webkit-appearance: none;
    background-color: #e8dacf;
    outline: none; */
    height: 10px;
    width: 200px;
    border-radius: 50px;
    transform: rotate(-90deg) translate(-100px, 0px);
    position: absolute;
    bottom: 250px;
}


/* #branch1Color {
    width: 10px;
    height: 0px;
    border-radius: 50px;
    position: absolute;
    bottom: 58px;
    left: 97px;
    z-index: 3;
    background-color: brown;
} */


/* #branch1::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: brown;
    border-radius: 20px;
    cursor: pointer;
} */

#branch1::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    /* background-color: brown;
    height: 5px; */
}

#branch2 {
    transform: rotate(-115deg);
    width: 0px;
    position: absolute;
    bottom: 240px;
    left: 105px;
    opacity: 0;
    height: 8px;
}


/* #branch2Color {
    transform: rotate(-115deg);
    width: 10px;
    height: 0px;
    border-radius: 50px;
    position: absolute;
    bottom: 58px;
    left: 9px;
    z-index: 3;
    background-color: brown;
} */

#branch3 {
    position: absolute;
    width: 0px;
    bottom: 240px;
    transform: rotate(-40deg);
    left: 94px;
    opacity: 0;
    height: 8px;
}

#branch4 {
    position: absolute;
    width: 0px;
    bottom: 360px;
    transform: rotate(-140deg);
    left: 45px;
    height: 7px;
}

#branch5 {
    position: absolute;
    width: 0px;
    bottom: 357px;
    transform: rotate(-80deg);
    left: 40px;
    height: 7px;
    opacity: 0;
}

#branch6 {
    position: absolute;
    width: 0px;
    bottom: 325px;
    transform: rotate(-100deg);
    left: 205px;
    height: 7px;
    opacity: 0;
}

#branch7 {
    position: absolute;
    width: 0px;
    bottom: 332px;
    transform: rotate(-20deg);
    left: 197px;
    height: 7px;
}

#branch8 {
    position: absolute;
    width: 0px;
    bottom: 417px;
    transform: rotate(-170deg);
    left: -15px;
    height: 6px;
}

#branch9 {
    position: absolute;
    width: 0px;
    bottom: 448px;
    transform: rotate(-130deg);
    left: 62px;
    height: 6px;
}

#branch10 {
    position: absolute;
    width: 0px;
    bottom: 448px;
    transform: rotate(-40deg);
    left: 52px;
    height: 6px;
}

#branch11 {
    position: absolute;
    width: 0px;
    bottom: 412px;
    transform: rotate(-120deg);
    left: 190px;
    height: 6px;
}

#branch12 {
    position: absolute;
    width: 0px;
    bottom: 414px;
    transform: rotate(-50deg);
    left: 183px;
    height: 6px;
}

#branch13 {
    position: absolute;
    width: 0px;
    bottom: 355px;
    transform: rotate(-70deg);
    left: 282px;
    height: 6px;
}

#branch14 {
    position: absolute;
    width: 0px;
    bottom: 295px;
    transform: rotate(-70deg);
    left: 70px;
    height: 6px;
}

.leaves {
    /* background-color: rgb(83 162 83); */
    /* width: 15px;
    height: 15px; */
    border-radius: 20px;
    position: absolute;
    /* animation-name: grow; */
    animation-iteration-count: 1;
    animation-duration: 2s;
}

.leavesReal {
    /* background-color: rgb(83 162 83); */
    /* width: 15px;
    height: 15px; */
    border-radius: 20px;
    position: absolute;
    /* animation-name: grow; */
    animation-iteration-count: 1;
    animation-duration: 2s;
}

.flowers {
    border-radius: 20px;
    position: absolute;
    animation-iteration-count: 1;
    animation-duration: 2s;
}

#leavesContainer1 {
    width: 150px;
    height: 20px;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    left: 0px;
    /* top: 465px; */
    bottom: 300px;
    transform: rotate(65deg);
}

#leavesContainer2 {
    width: 150px;
    height: 20px;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    left: 75px;
    /* top: 480px; */
    bottom: 300px;
    transform: rotate(-40deg);
}

#leavesContainer3 {
    width: 100px;
    height: 18px;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    left: -40px;
    /* top: 390px; */
    bottom: 380px;
    transform: rotate(-140deg);
}

#leavesContainer4 {
    width: 100px;
    height: 18px;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    left: 0px;
    /* top: 365px; */
    bottom: 400px;
    transform: rotate(-80deg);
}

#leavesContainer5 {
    width: 100px;
    height: 18px;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    left: 142px;
    /* top: 400px; */
    bottom: 370px;
    transform: rotate(-100deg);
}

#leavesContainer6 {
    width: 100px;
    height: 18px;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    left: 200px;
    /* top: 425px; */
    bottom: 350px;
    transform: rotate(-20deg);
}

#leavesContainer7 {
    width: 90px;
    height: 18px;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    left: 35px;
    /* top: 435px; */
    bottom: 335px;
    transform: rotate(-70deg);
}

#leavesContainer8 {
    width: 90px;
    height: 18px;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    left: -110px;
    /* top: 350px; */
    bottom: 420px;
    transform: rotate(-170deg);
}

#leavesContainer9 {
    width: 80px;
    height: 18px;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    left: 0px;
    /* top: 295px; */
    bottom: 470px;
    transform: rotate(-130deg);
}

#leavesContainer10 {
    width: 80px;
    height: 18px;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    left: 45px;
    /* top: 300px; */
    bottom: 470px;
    transform: rotate(-40deg);
}

#leavesContainer11 {
    width: 80px;
    height: 18px;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    left: 125px;
    /* top: 333px; */
    bottom: 440px;
    transform: rotate(-120deg);
}

#leavesContainer12 {
    width: 80px;
    height: 18px;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    left: 180px;
    /* top: 315px; */
    bottom: 455px;
    transform: rotate(-50deg);
}

#leavesContainer13 {
    width: 80px;
    height: 18px;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    left: 265px;
    /* top: 375px; */
    bottom: 400px;
    transform: rotate(-70deg);
}

#leavesContainer14 {
    width: 150px;
    height: 40px;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    left: 0px;
    /* top: 465px; */
    bottom: 280px;
    transform: rotate(65deg);
}

#leavesContainer15 {
    width: 150px;
    height: 40px;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    left: 85px;
    /* top: 470px; */
    bottom: 280px;
    transform: rotate(-40deg);
}

#leavesContainer16 {
    width: 150px;
    height: 70px;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    left: 45px;
    /* top: 440px; */
    bottom: 280px;
}

#flowerContainer {
    width: 300px;
    height: 200px;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
    left: 0px;
    /* top: 300px; */
    bottom: 290px;
    /* transform: rotate(-40deg); */
}

@keyframes grow8 {
    from {
        width: 0px;
        height: 0px;
    }
    to {
        width: 8px;
        height: 8px;
    }
}

@keyframes grow9 {
    from {
        width: 0px;
        height: 0px;
    }
    to {
        width: 9px;
        height: 9px;
    }
}

@keyframes grow10 {
    from {
        width: 0px;
        height: 0px;
    }
    to {
        width: 10px;
        height: 10px;
    }
}

@keyframes grow11 {
    from {
        width: 0px;
        height: 0px;
    }
    to {
        width: 11px;
        height: 11px;
    }
}

@keyframes grow12 {
    from {
        width: 0px;
        height: 0px;
    }
    to {
        width: 12px;
        height: 12px;
    }
}

@keyframes grow13 {
    from {
        width: 0px;
        height: 0px;
    }
    to {
        width: 13px;
        height: 13px;
    }
}

@keyframes grow14 {
    from {
        width: 0px;
        height: 0px;
    }
    to {
        width: 14px;
        height: 14px;
    }
}

@keyframes grow15 {
    from {
        width: 0px;
        height: 0px;
    }
    to {
        width: 15px;
        height: 15px;
    }
}

@keyframes grow16 {
    from {
        width: 0px;
        height: 0px;
    }
    to {
        width: 16px;
        height: 16px;
    }
}

@keyframes grow17 {
    from {
        width: 0px;
        height: 0px;
    }
    to {
        width: 17px;
        height: 17px;
    }
}

@keyframes grow18 {
    from {
        width: 0px;
        height: 0px;
    }
    to {
        width: 18px;
        height: 18px;
    }
}

@keyframes wind {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(4deg);
    }
    100% {
        transform: rotate(0deg);
    }
}